.register-info-postList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.register-info-postItem {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 150px;
    gap: 10px;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.register-info-headerRow {
    font-weight: bold;
    background-color: #f4f4f4;
}

.register-info-postColumn {
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
}

.register-info-idColumn, .register-info-titleColumn {
    text-align: left;
}

.register-info-contentColumn1 {
    width: 100%;
    text-align: left;
}

.register-info-postItem:hover {
    background-color: transparent;
}

.register-info-categoriesColumn {
    text-align: left;
    word-wrap: break-word;
}

.register-info-postColumn {
    min-width: 100px;
}

.register-info-actionsColumn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.register-info-actionsColumn button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s, color 0.2s;
}

.register-info-actionsColumn button:hover {
    transform: scale(1.1);
    color: #007bff;
}

.register-info-postItem {
    overflow-x: auto;
}
